<div class="contacts ">
    <div class="container__contacts">
    <h2 class=visually-hidden>Contacts</h2>
    <ul class="contacts__list">
            <li class="contact">
                <div class="category">CAFE</div>
                <h3 class="contacts__header">Chicago</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="agenda">
                    <li>
                        <p class="agenda__days">Monday - Friday</p>
                        <p class="agenda__hours">06:00 AM - 10:00 PM</p> 
                    </li>
                    <li>
                        <p class="agenda__days">Saturday - Sunday</p>
                        <p class="agenda__hours">08:00 AM - 16:00 PM</p> 
                    </li>
                </ul>
                <a href="tel+610383766284">+61(0) 383 766 284 </a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="contact">
                <div class="category--color">FOOD TRUCK</div>
                <h3>Los Angeles</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p> 
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p> 
                    </li>
                </ul>
                <a href="">+61(0) 383 766 284 </a>
                <a href="">noreply@envato.com</a>
            </li>
            <li class="contact">
                <div class="category">CAFE</div>
                <h3>New York</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p> 
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p> 
                    </li>
                </ul>
                <a href="">+61(0) 383 766 284 </a>
                <a href="">noreply@envato.com</a>
            </li>
    </ul>
    <div class="button-section" >
        <button type="button" class="button-section__itam--red">Our Locations 
            
        </button>
        <button type="button" class="button-section__itam--white">Franchise</button>
    </div>
</div>
    
</div>